@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-mainBlack: #19191b;
    --color-mainWhite: #f4f4f5;

    font-family: "Epilogue", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;

    color: var(--color-mainWhite);
    background-color: var(--color-mainBlack);
}

body {
    margin: 0;
}

h1 {
    font-size: 2.7rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 700;
}

@media (min-width: 1280px) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 18px;
        line-height: 30px;
    }
}
